<footer>
	<div class="wrapper">
		<ul class="footer-links">
			{% for link in site.data.footer %}
				<li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
					{% if link.social_icon %}
						{% include social-icon.html icon=link.social_icon %}
					{% endif %}
					{{ link.name }}</a></li>
			{% endfor %}
		</ul>
		<p class="copyright">
			{{ site.title }} {{ site.time | date: "%Y" }}. <br>
			<a href="https://creativecommons.org/licenses/by/4.0/deed.pt_BR">
				Atribuição 4.0 Internacional (CC BY 4.0)
			</a>. Template
			<a href="https://github.com/CloudCannon/base-jekyll-template">Base</a>
		</p>
	</div>
</footer>
