---
layout: default
---

<section class="tutorial">
	<section class="sidebar sticky">
		<ul>
			{% assign sub_navigation = content | extract_element: 'h2' %}
			{% for item in sub_navigation %}
				<li><a href="#{{ item.id }}">{{ item.text }}</a></li>
			{% endfor %}
		</ul>
	</section>
	<section class="tutorial-content">
		<h1>{{ page.title }}</h1>

		{% if page.type == "Video" %}
			{% include youtube.html video_id=page.video_id %}
		{% endif %}

		<div class="tutorial-main">
			{{ content }}
		</div>
		<div class="changelog">
				<p>Registro de alterações:</p>
				<ul>
					{% for author in page.changelog %}
						<li>
							{{ author.date}} - {{ author.info }}
						</li>
					{% endfor %}
				</ul>
			</div>
	</section>
</section>

{% if page.set %}
	{% assign set_file_name = "_sets/" | append: page.set | append: ".md" %}
	{% assign set = site.sets | where: "path", set_file_name | first %}
	{% assign series_posts = site.posts | where: "set", page.set %}
	<div class="tutorial-series">
		<h3>{{ set.title }} - Series</h3>
		<p>{{ set.description }}</p>

		{% include listings.html listings=series_posts numbered=true%}
	</div>
{% endif %}
{% assign related_posts = site.related_posts %}
{% assign related_posts_size = related_posts | size %}
{% if related_posts_size > 0 %}
	<div class="related">
		<h3>Tutoriais relacionados</h3>

		{% include listings.html listings=site.related_posts %}
	</div>
{% endif %}

{% if site.disqus_shortname and page.comments %}
	<div id="disqus_thread"></div>
	<script>
		var disqus_shortname = '{{ site.disqus_shortname }}';
		var disqus_config = function () {
			this.page.url = "{{ page.url | prepend: site.url }}";
			this.page.identifier = "{{ page.id }}";
		};
		(function() {  // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

<script src="{{ site.baseurl }}/js/main.js"></script>

